.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#rele {
    margin: 0px 0px 0px 0px;
    color: rgba(42, 82, 226, 0.774);
    font-weight: bold
    
}

#cluster {
    margin: 20px 0px 0px 0px;
    color: rgba(42, 82, 226, 0.774);
    font-weight: bold
}

#query_exp {
    margin: 20px 0px 0px 0px;
    color: rgba(42, 82, 226, 0.774);
    font-weight: bold
}

#search {
    margin: 20px 0px 0px 0px;
    color: #0b0404;
    background-color: #2196F3;
}

h1 {
  font-weight: bold;
  color: #340d9ffb;
  font-size: 52px;
  text-align: center;
}

input[type="radio"].margin {
    margin: 0px 0px 0px 20px;
}

#page_rank_label {
    color: rgb(8, 6, 6);
}

#hits_label {
    color: rgb(7, 7, 13);
}

#flat_clustering_label {
    color: rgb(11, 8, 4);
}

#hierarchical_clustering_label {
    color: #0e0b05;
}

#association_qe_label {
    color: #040904;
}

#metric_qe_label {
    color: #090f11;
}

#scalar_qe_label {
    color: #070308;
}
